body {
    margin: 1;
    font-family:Algerian;
    background-color:white;
  }
  img {
      height:200px;
      width:250px;
  }
  .logo  {
      display: table;
      display: flex;
      align-items: flex-start;
      float:left;
  }
  .home{
      text-align: center;
      color:indigo;
  }
  .button a {
    float:right;
    display:inline flex;
    color:blue;
    text-align: center;
    padding: 14px;
    font-size:large;
    margin:25px;
    text-decoration:none;
    font-family:Bodoni Mt Black;
  }
  
  .button a:hover {
    background-color:blue;
    color:whitesmoke;
    opacity:10;
  }
  
  .button a.active {
    background-color:aqua;
    color: white;